<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <h4>This can be used to get the weather of any place in the world. Made using WeatherStack and Mapbox. Framework used is Node</h4>
        {{>footer}}
    </body>
</html>