<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <h4>{{helpText}} , he knows what to do</h4>
        {{>footer}}
    </body>
</html>